body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
.header-content{
    color: #fff;
    text-align: center;
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.header-overlay{
    padding: 300px 0;
    background-color: rgba(0, 0, 0, 0.6);
}
 h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.donate-btn{
    color: #fff;
    padding: 10px 40px;
    font-weight: 700;
    background-color: #FF5959;
    text-decoration: none;
    border-radius: 5px;
}
.donation-text{
    text-align: center;
}
.donation-amount{
    display: flex;
    justify-content: space-around;
}
.donation-amount span{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    margin: 100px 0;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px gray;
}
.orange-color{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 3px solid #ff5959;
}
.donation-input{
    text-align: center;
}
.donation-input input{
    width: 100%;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid gray;
    border-left: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}