body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 100px;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
.header-content{
    color: #fff;
    text-align: center;
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.header-overlay{
    padding: 300px 0;
    background-color: rgba(0, 0, 0, 0.6);
}
 h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.donate-btn{
    color: #fff;
    padding: 10px 40px;
    font-weight: 700;
    background-color: #FF5959;
    text-decoration: none;
    border-radius: 5px;
}
.donation-text{
    text-align: center;
}
.donation-amount{
    display: flex;
    justify-content: space-around;
}
.donation-amount span{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    margin: 100px 0;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px gray;
}
.orange-color{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 3px solid #ff5959;
}
.donation-input{
    text-align: center;
}
.donation-input input{
    width: 100%;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid gray;
    border-left: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}
.donation-plan-heading{
    text-align: center;
}
.donation-blog{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.blog{
    padding: 30px 20px;
}
.first-item{
    margin-right: 30px;
    background-color: rgba(79, 157, 166, 0.1);
}
.second-item{
    margin-right: 30px;
    background-color: rgba(255, 89, 89, 0.1);
}
.third-item{
    background: #FFF4D6;
}
.newsletter{
    text-align: center;
}
.newsletter-input{
    display: flex;
    justify-content: center;
}
.newsletter-input input {
    width: 300px;
    padding: 10px 10px;
    border: none;
    background-color: #D9D9D9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
}
.subscribe{
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-left: -5px;
    padding: 10px 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #FF5959;
}
footer{
    color: #fff;
    text-align: center;
    padding: 40px 0;
    background: #0B0D17;
    margin-top: 100px;
}